.position {
  position: sticky;
  top: var(--static-space-48);
  padding-bottom: var(--responsive-space-l);
}

@media (--s) {
  .position {
    top: auto;
    position: relative;
    padding-bottom: var(--responsive-space-m);
  }
}